.font-rf-400 {
  font: 400 1.125rem/1.6 'Roboto Flex', san-serif;
}
.font-rf-400-2 {
  font: 400 1.125rem/1.6 'Roboto Flex', san-serif;
}
.font-rf-500 {
  font: 500 1.1rem/1.5 'Roboto Flex', san-serif;
}
.font-rf-700-1 {
  font: 700 1.125rem/1 'Roboto', san-serif;
}
.font-rf-700-2 {
  font: 700 2rem/1 'Roboto', san-serif;
}
.font-rf-700-9 {
  font: 700 9.125rem/1 'Roboto', san-serif;
}

@media (max-width: 1700px) {
  .font-rf-400 {
    font: 400 1rem/1 'Roboto Flex', san-serif;
  }
  .font-rf-400-2 {
    font: 400 1rem/1.5 'Roboto Flex', san-serif;
  }
  .font-rf-500 {
    font: 500 1rem/1.5 'Roboto Flex', san-serif;
  }
  .font-rf-700-1 {
    font: 700 1rem/1 'Roboto', san-serif;
  }
  .font-rf-700-9 {
    font: 700 8rem/1 'Roboto', san-serif;
  }
}
@media (max-width: 1300px) {
  .font-rf-400 {
    font: 400 0.9rem/1 'Roboto Flex', san-serif;
  }
  .font-rf-400-2 {
    font: 400 0.9rem/1.3 'Roboto Flex', san-serif;
  }
  .font-rf-500 {
    font: 500 0.9rem/1.5 'Roboto Flex', san-serif;
  }
  .font-rf-700-1 {
    font: 700 0.9rem/1 'Roboto', san-serif;
  }
  .font-rf-700-2 {
    font: 700 1.5rem/1 'Roboto', san-serif;
  }
  .font-rf-700-9 {
    font: 700 7rem/1 'Roboto', san-serif;
  }
}
@media (max-width: 600px) {
  .font-rf-400 {
    font: 400 0.7rem/1 'Roboto Flex', san-serif;
  }
  .font-rf-700-1 {
    font: 700 0.7rem/1 'Roboto', san-serif;
  }
  .font-rf-700-9 {
    font: 700 5rem/1 'Roboto', san-serif;
  }
}
