.font-r-400 {
  font: 400 1.125rem/1 'Roboto', san-serif;
}
.font-r-16-700 {
  font: 700 1rem/1 'Roboto', san-serif;
}
.font-r-1-700 {
  font: 700 1.125rem/1 'Roboto', san-serif;
}
.font-r-2-700 {
  font: 700 2.25rem/1 'Roboto', san-serif;
}
